<%- include('header.ejs') %>

	<div class="journal">
		<span>About</span>
	</div>
	
	<div id="nav0">
		<hr id="navhr">
		<div class="ui center aligned page stackable five column grid" id="nav1">
				  <div class="column"><a href="/xapjam"><div class="column">Home</div></a></div>
				  <div class="column"><a href="#"><div class="column">Event</div></a></div>
				  <div class="column"><a href="#"><div class="column">Food</div></a></div>
				  <div class="column"><a href="#"><div class="column">Entertainment</div></a></div>
				  <div class="column"><a href="/xapjam/campus"><div class="column">Campus</div></a></div>
			</div>
		<hr id="navhr">
		</div>
		<br>
		
		<div class="ui main text container " >
			<div id="showDesc">
			<p id="bigDesc">
				Welcome to the online home of XAP, the periodical run by journalism students of St. Xavier’s College, Ahmedabad.<br>

				<br>Among our posts, you’ll find tales of our colourful college experiences, those of our peers, our art, our opinions (Yes, we have opinions and we aren’t afraid to voice them! Journalism students, remember?) on everything from books, music, films, and sports current affairs, and—of course—clear, concise and comprehensive reportage about college happenings, the achievements of our students and faculty, and other stuff we feel is important to us.<br>

				<br>Have a story idea for us? Want to be featured in XAP? Or simply want to tell us how awesome (or not) we are? Drop us a message here, or mail us directly at <a href="mailto:contactxap@gmail.com" style="color:blue;"> contactxap@gmail.com </a>.

				<br><br> That is all. On your way now.
			</p>
			</div>
		
		</div>
	
<%- include('footer.ejs') %>