<hr>

<div  class="ui black inverted segment foot">
	<p><i>  Designed & Developed By <b>Mandeep Jain </b></i></p><br>
	<p>Contact me for more...</p>
	<a href="https://www.linkedin.com/in/mandeep-jain-41908117a/"><i class="inverted large linkedin icon" ></i> </a>
	<a href="mailto: mandeepjain00@gmail.com"><i class="inverted large envelope  icon" ></i> </a>
	<a href="https://github.com/MandeepJain19"><i class="inverted large github square icon" ></i> </a><br>
</div>

</body>
<script type="text/JavaScript" src="../../javascript/date.js"> </script>
<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
</html>