<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" >
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" >
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		<script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>
		<script type="text/JavaScript" src="../javascript/date.js" > </script>
		
		<title>Xap Jam</title>
	</head>
<body>
<div class="ui center aligned grid" class="head1"> 
			
			<div class=" four wide column" id="head1" >
					<div id="insidehead1"  >
						<span id="hindi"> सभी का स्वागत है  !!</span>
						<br>Welcome To All !!
					</div>
				</div>
			<div class="four wide column" id="head1">
				 <div class="titleimg">
					<a href="/xapjam">
					<img class="ui circular bottom aligned tiny image" src="/images/title.jfif">
					<span id ="title" ></span>
					<!-- <img class="ui tiny circular left floated image " src="/images/title.jfif" alt="xap jam title "/> <div id="title">Xap Jam</div> -->
					</a>
				 </div>
				</div>
			<div class="four wide column" id="head1">
					<div id="insidehead1" class="date">
					<script>document.write(date); </script><sup>th</sup>
						<span><script>document.write(month); </script></span>
						<br><span><script>document.write(year); </script></span>
					</div>
				</div>
			</div>
			
	
		<hr color ="red" class="style-eight">
